
.card-footer{
    border-top: none !important;
    background-color: white !important;
}
.card{
    box-shadow: 5px 5px 20px lightgray;
    border: none !important;
}
.container{
    margin-bottom: 100px;
}
.title{
    text-align: center;
}
.backpack{
    align-content: center;
    padding-bottom: 20px;
}


    
